body {
  font-family: Avenir, 'Avenir Next', 'Open Sans', Futura, 'Gill Sans', 'Segoe UI', Calibri, 'Trebuchet MS', sans-serif;
}

.back-btn {
  position: fixed;
  z-index: 100;
  right: 1vw;
  top: 1vh;
  color: black;
  color: rgba(0, 0, 0, 0.85);
  mix-blend-mode: multiply;
  border: 0.2em solid black;
  border: 0.2em solid rgba(0, 0, 0, 0.85);
  padding: 0.2em 0.5em;
  background: white;
  background: rgba(255, 255, 255, 0.6);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
